In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
import cv2
print(cv2.__version__)
import numpy as np

3.3.1

In [2]:
path = "D:\Moth Learning Project\Flower shape Experiment Data\TipManualDigitization"
trackframe_filename = 'ManualTipTRacking_DigitizingChart.xlsx'
frameInfo = pd.read_excel(path + "\\" + trackframe_filename)
frameInfo.head()

,Name,Date,trial,Start,Frame Start,Digitized Start,Stop,Frame Stop,Digitized Stop
0,c-1_m13,2018-03-13,0,11:15:00,20070,20455,12:00:00,21600,21200
1,c-1_m13,2018-03-13,last,1900-01-01 16:25:00,72450,72930,1900-01-01 17:09:00,73962,73020
2,c-2_m5,2018-02-20,0,12:40:00,22320,22910,13:34:00,24012,23660
3,c-2_m5,2018-02-20,last,1900-01-01 11:10:00,63180,63540,1900-01-01 11:42:00,63756,63630
4,c-3_m10,2018-03-01,0,11:15:00,20070,20390,12:02:00,21636,21150

In [3]:
frameInfo.Name.unique()

array(['c-1_m13', 'c-2_m5', 'c-3_m10', 'c-10_m11'], dtype=object)